.frame {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #f3f4f6;
  height: 914px;
  overflow-x: hidden;
  width: 1265px;
}

.frame .overlap-group {
  height: 916px;
  left: -3px;
  position: relative;
  top: -2px;
  width: 1271px;
}

.frame .img {
  height: 850px;
  left: 3px;
  position: absolute;
  top: 66px;
  width: 1265px;
}

.frame .img-2 {
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1271px;
}
